.menu-modal {
  background-color: white;
  max-height: 70%;
  overflow-y: scroll;
  // margin-top: $header-height;
  padding: 16px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.3s;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  &.shown {
    transform: translateY(0);
  }
}

.account-intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.intro-avatar {
  border: 1px solid gray;
  border-radius: 50%;
  height: 80px;
  margin-bottom: 10px;
  padding: 20px;
  width: 80px;
}

.intro-login {
  // margin-top: 10px;
}
