.word-page {
}

.word-book {
  align-items: center;
  border: 1px solid black;
  display: block;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: center;
  margin: 10px auto;
  text-decoration: none;
  width: 120px;
}

.word-progress {
  color: gray;
  font-size: 12px;
}
