.word-card-page {
  display: flex;
  flex-direction: column;
}

.word-num {
  text-align: center;
}

.word-text {
  flex-grow: 1;
  font-size: 26px;
  padding: 40px 0;
  text-align: center;
}

.word-trans {
  color: gray;
  font-size: 18px;
  margin-top: 100px;
}

.card-actions {
  display: flex;
}

.card-next,
.card-prev {
  border: 1px solid black;
  flex-grow: 1;
  padding: 15px;
  text-align: center;
}

.word-voice {
  font-size: 20px;
  margin-top: 16px;
}

.meaning-en {
  background-color: #e0e0e0;
  padding: 16px;
}

.voice-text {
  &.light {
    color: gray;
  }

  &.lighter {
    color: #ccc;
  }

  &.space {
    margin: 0 2px;
  }
}

.word-tips {
  position: absolute;
  right: 16px;
}

.word-process {
  border-bottom: 1px solid #ccc;
  padding: 16px;
  position: relative;
}
